### ===> List

In [6]:
l=[1,2,3,4,5,'a','s','r',(12345)]
type(l)
print(l[1])
print(len(l))

2
9

In [7]:
l=123456
l

123456

In [8]:
l=1,12,33,45,67,77,43,22,55,77,888,22,33,5,6,7,3,2,2,5,6,7,8,0
print(l[-1])

0

In [22]:
l=[1,2,3,4,5,7,8,8,6,4,2,1,3,45,6]
print(l[0:15])

[1, 2, 3, 4, 5, 7, 8, 8, 6, 4, 2, 1, 3, 45, 6]

In [21]:
l=['q','w','e','r','b','r']
print(l[:-7:-1])

['r', 'b', 'r', 'e', 'w', 'q']

In [23]:
l=[1,2,3,4,5,6,7,8,9,10]
print(l[0:10:2])

[1, 3, 5, 7, 9]

In [26]:
s=['a','s']
print(s[::-1])

['s', 'a']

In [27]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [28]:
print(l)

['narendra']

In [29]:
print(s)

['a', 's']

In [34]:
n=[1,2,3,4,5]
print(n)

[1, 2, 3, 4, 5]

In [40]:
m=["Nand"]
m.append("Nor")
m

['Nand', 'Nor']

In [73]:
s=(input(" Enter input "))
k=s[::-1]
if k==s:
    print("pal")
else:
    print("no")

 Enter input malayalam
pal

In [60]:
l=[1,2,3,3,5,6,7,88,9]
for i in range(0,9):
    print(l[i])

1
2
3
3
5
6
7
88
9

In [62]:
k=[1,2,3,4,5,6,77,90]
for i in k:
    print(i)

1
2
3
4
5
6
77
90

In [4]:
k="Isro"
for i in k:
    print(i)

I
s
r
o

In [72]:
o=[1,2,3,4,5]
print(o)

[1, 2, 3, 4, 5]

In [91]:
n=[1,2,344,4,5,6]
for i in n:
    if i%2==0:
        print("even",i)
    else:
        print("odd",i)

odd 1
even 2
even 344
even 4
odd 5
even 6

### --> even or odd in a given range

In [93]:
n=int(input(" Enter 1st input"))
o=int(input(" Enter 2st input"))
for i in range(n,o):
    if i%2==0:
        print(" even ", i)
    else:
        print(" odd " , i)

 Enter 1st input1
 Enter 2st input10
 odd  1
 even  2
 odd  3
 even  4
 odd  5
 even  6
 odd  7
 even  8
 odd  9

### ascending order

In [97]:
n.sort()
n

[0, 1, 2, 3, 4, 7, 8, 9, 56]

In [102]:
k=[1,2,3,4,55,6,6,987]
k.sort()
k

[1, 2, 3, 4, 6, 6, 55, 987]

In [101]:
g=[1,2,3,44,5,6,7]
g.reverse()
g

[7, 6, 5, 44, 3, 2, 1]

### dscending order

In [108]:
n=[1,33,55,3,5,77,88]
n.sort()
print(n)
n.reverse()
print(n)

[1, 3, 5, 33, 55, 77, 88]
[88, 77, 55, 33, 5, 3, 1]